<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
      integrity="sha384-">

    <title>Home Page</title>
</head>

<body>
    <div class="container">
        <div class="col-md-6 offset-md-3">
         <h3 class="search-icon">Add Employee Personal Details
            <!-- <div class="search-icon"> -->
                <!-- <i class="fas fa-search"></i> -->
              <!-- </div> -->
            </h3>
            
            <form (ngSubmit)="onSubmit()">
                <!-- <form> -->
                    <div class="container">
                        <div class="form-group">
                            <label>Employee ID</label>
                            <input type="text" class="form-control" id="employee_id" [(ngModel)]="personal.employee_id"
                                name="employee_id">
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" id="address" [(ngModel)]="personal.address"
                                name="address">
                        </div>

                        <div class="form-group">
                            <label>LocationName</label>
                            <select  class="form-control" [(ngModel)]="personal.location_id" name="myDropdown">
                            <option>Select your location</option>
                            <option [value]="item.location_id" *ngFor="let item of dropdownValues">{{item.location_name}}</option>
                            </select>
                         </div>

                        <div class="form-group">
                            <label>PinCode</label>
                            <input type="text" class="form-control" id="pin" [(ngModel)]="personal.pin" name="pin">
                        </div>

                        <div class="form-group">
                            <label>PhoneNo</label>
                            <input type="text" class="form-control" id="phone" [(ngModel)]="personal.phone"
                                name="phone">
                        </div>

                        <div class="form-group">
                            <label>AlternatePhoneNo</label>
                            <input type="text" class="form-control" id="alternate_phone"
                                [(ngModel)]="personal.alternate_phone" name="alternate_phone">
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <select id="gender" class="form-control" [(ngModel)]="personal.gender"
                            [ngModelOptions]="{standalone: true}">
                            <option>Select your gender</option>
                            <option *ngFor="let gender of genders" value="{{gender.id}}">{{gender.name}}
                            </option>
                        </select>

                        </div>

                        <div class="form-group">
                            <label>CountryId</label>
                            <input type="text" class="form-control" id="country_id" [(ngModel)]="personal.country_id"
                                name="country_id">
                        </div>

                        <div class="form-group">
                            <label>EmailId</label>
                            <input type="text" class="form-control" id="email_id" [(ngModel)]="personal.email_id"
                                name="email_id">
                        </div>

                        <div class="form-group">
                            <label>DateOfBirth</label>
                            <input type="date" class="form-control" id="date_of_birth"
                                [(ngModel)]="personal.date_of_birth" name="date_of_birth">
                        </div>

                        <div class="form-group">
                            <label>MaritalStatus</label>
                            <select id="MaritalStatus" class="form-control"
                            [(ngModel)]="personal.marital_status" [ngModelOptions]="{standalone: true}">
                            <option>Select your MaritalStatus</option>
                            <option *ngFor="let marital_status of maritals"
                                value="{{marital_status.id}}">{{marital_status.name}}</option>
                        </select>
                        </div>

                        <button class="btn btn-success" type="submit"> Submit </button>
                    </div>
                </form>
        </div>

    </div>
</body>

</html>